@using BExIS.Pmm.Entities;
@using Telerik.Web.Mvc.UI;

<div style="height:1000px;">
    <div>
        <h2>Plotchart Import</h2>
        @*<fieldset name="importType" style="width:300px; border: 1px solid #1F497D;">*@
            @*<legend style="background: #1F497D;color: #fff;padding: 5px 10px ;font-size: 14px; border-radius: 5px;box-shadow: 0 0 0 5px #ddd; margin-left: 10px;">Import type</legend>*@
            Import type:<br /><br />
            <label for="subplots">Subplots</label>
            <input type="radio" name="type" id="subplots" value="subplots" checked>
            <label for="plots">Plots</label>
            <input type="radio" name="type" id="plots" value="plots">
        @*</fieldset>*@
    </div>
    <br />
    <div>
        <p>
            Please select a file to be uploaded.
        </p>
    </div>
    @using (Html.BeginForm("ImportInformation", "MainAdmin",
                                 FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data", area = "PMM" }))
    {
        <input type="hidden" name="type" id="type" />

        @Html.Telerik().Upload().Name("attachments")

        <input type="submit" value="Send" class="t-button" />
        @*<input type="hidden" value="Plot" name="type" id="type" class="t-button" />*@
        <input type="reset" value="Reset" class="t-button" />

    }
    <hr />

    @if (ViewData["Plot"] != null)
    {
        <h3>Uploaded data:</h3>
        @(Html.Telerik().Grid<ImportPlotObject>((List<ImportPlotObject>)ViewData["Plot"])
                 .Name("Plots")
                 .BindTo((List<ImportPlotObject>)ViewData["Plot"])
                 .Columns(columns =>
                 {
                     columns.Bound(c => c.Index);
                     columns.Bound(c => c.Action);
                     columns.Bound(c => c.Plot.Id);
                     columns.Bound(c => c.Plot.PlotId);
                     columns.Bound(c => c.Plot.PlotType);
                     columns.Bound(c => c.Plot.Coordinate);
                     columns.Bound(c => c.Plot.CoordinateType);
                     columns.Bound(c => c.Plot.Latitude);
                     columns.Bound(c => c.Plot.Longitude);
                     columns.Bound(c => c.Plot.Status);
                     columns.Bound(c => c.Status);
                 }));

    }
    else if (ViewData["SubPlot"] != null)
    {
        <h3>Uploaded data:</h3>
        @(Html.Telerik().Grid<ImportGeometryObject>((List<ImportGeometryObject>)ViewData["SubPlot"])
                 .Name("Geometries")
                 .Columns(columns =>
                 {
                     columns.Bound(c => c.Index);
                     columns.Bound(c => c.Action);
                     columns.Bound(c => c.Geometry.Id);
                     columns.Bound(c => c.Geometry.Name);
                     columns.Bound(c => c.Geometry.GeometryType);
                     columns.Bound(c => c.Geometry.Coordinate);
                     columns.Bound(c => c.Geometry.CoordinateType);
                     columns.Bound(c => c.Geometry.LineWidth);
                     columns.Bound(c => c.Geometry.Color);
                     columns.Bound(c => c.Geometry.Description);
                     columns.Bound(c => c.Geometry.Status);
                     columns.Bound(c => c.Geometry.PlotId);
                     columns.Bound(c => c.Status);
                 }));
    }

</div>

<script>

    var selectedType = $("input[name='type']:checked").val();

    $(function () {

        var selectedType = $("input[name='type']:checked").val();
        $("input[name='type']").change(function () {
            selectedType = $("input[name='type']:checked").val();
            $('#type').val(selectedType);
        });

        $('#type').val(selectedType);
    });

</script>