@using BExIS.Pmm.Entities;
@using Telerik.Web.Mvc.UI;
@model BExIS.Web.Shell.Areas.PMM.Models.PlotChartViewModel

@{

    int PageSize = Convert.ToInt16(ViewData["PageSize"]);
    int CurrentPage = Convert.ToInt16(ViewData["CurrentPage"]);

    GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
    pagerStyles |= GridPagerStyles.NextPreviousAndNumeric;
    pagerStyles |= GridPagerStyles.Numeric;

    Model.gridsize = new List<int>(new int[] { 5, 10 });
    Model.geometryType = new List<String>(new String[] { "rectangle", "linestring", "circle", "polygon" });
    Model.colorList = new List<String>(new String[] { "#00ff00", "#ff0000", "#ffa07a", "#000000", "#bebebe", "#ffffff", "#ee82ee", "#add8e6", "#4682b4", "#00ffff", "#d8bfd8", "#0000ff", "#a020f0", "#2e8b57", "#b03060", "#f5deb3", "#d2691e", "ffa500", "#90ee90", "#ebebeb", "#ffff00", "#a52a2a", "#ffeeee", "#c71585" });
    Model.coordinateType = new List<String>(new String[] { "xy", "polar" });

}

<div>
    <table>
        <tr>
        <td valign="bottom"><a href="#" title="Export CSV" onclick="exportAllPlots()"> <img src="~/Areas/PMM/Images/csv-48.png" width="40"> </a></td>
        </tr>
    </table>
    @(Html.Telerik().Grid<Plot>()
            .Name("plotchart_geometries")
            .DataBinding(dataBinding => dataBinding
             //Ajax binding
             .Ajax()
                   //The action method which will return JSON and its arguments
                   .Select("_AjaxBindingPlots", "Main")

            )
            .Pageable(paging =>
                paging
                        .Style(pagerStyles).Enabled(true)
                        .PageSize(10)
                    .Position(GridPagerPosition.Both)
                        .PageTo(1)
                    )
            .Sortable()
            .ClientEvents(x => x.OnDataBound("UpdateIcons"))
            .Filterable()
            .Columns(columns =>
            {
            columns.Bound(c => c.PlotId);
            columns.Bound(c => c.GeometryType).EditorViewData(new { geometryType = Model.geometryType });
            columns.Bound(c => c.Coordinate);
            columns.Bound(c => c.CoordinateType);
            columns.Bound(c => c.Latitude);
            columns.Bound(c => c.Longitude);

            columns.Template(@<text></text>).ClientTemplate("<input type='hidden' value='<#= Status  #>' name='<#= Id #>'/><a title='archive' href='#'" + "class='btn btn-sm' onclick=\"archivePlot(<#= Id #>, '<#= PlotId #>')\"><img id='archive-<#= Id #>' src='../../Areas/PMM/Images/archive.png' width='16'></a>").Title("Archive").Width(70);
            columns.Template(@<text></text>).ClientTemplate("<a title='download' href='#'" + "class='btn btn-sm' onclick='exportPlot(<#= Id #>)' id='export-<#= Id #>'><img src='../../Areas/PMM/Images/download.png' width='16'></a>").Title("Export").Width(60);
            columns.Template(@<text></text>).ClientTemplate("<a title='list' href='#'" + "class='btn btn-sm' onclick='openPlot(<#= Id #>)' id='list-<#= Id #>'><img src='../../Areas/PMM/Images/list.png' width='16'></a>").Title("List").Width(60);
            }))
</div>
    

<script type="text/javascript">

    function ComboBox_onChange(e) {
        LoadPackageAndBindGrid();
    }

    function LoadPackageAndBindGrid() {
        var grid = $('#plotchart_geometries').data('tGrid');
        grid.ajaxRequest();
    }

    function exportAllPlots() {
        window.open("/PMM/Main/ExportAllPlots", "_blank");
    }

    function UpdateIcons() {
        $('#plotchart_geometries input[type=hidden]').each(function () {
            if ($(this).val() == "2") {
                $("#archive-" + $(this).attr("name")).attr("src", "../../Areas/PMM/Images/archived.png");
                $("#export-" + $(this).attr("name")).attr("onclick", "");
                $("#list-" + $(this).attr("name")).attr("onclick", "");
            }
            else if (($(this).val() == "3"))
                $("#delete-" + $(this).attr("name")).attr("src", "../../Areas/PMM/Images/deleted.png");
        });
    }

    function exportPlot(id) {
        window.open("/PMM/Main/ExportPlot?id=" + id, "_blank");
    }

    function openPlot(id) {
        window.open("/PMM/Main/SubPlots?plotId=" + id, "_blank");
    }

</script>
