@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Info</title>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8">

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <table>
        <tr><td>Exploratories update from 182</td><td>ca. 2016_12_05</td></tr>
    </table>
</body>
</html>